# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [1]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [11]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade', 'Daniel'],
        'Age':[20, 21, 19, 18,20]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18
4    Daniel   20

### Column Selection:

In [13]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [15]:
import pandas as pg
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [17]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

# print excel
print(data)

   Unnamed: 0     name  degree  score
0           0     Abel     MBA     90
1           1    Kamsi     BCA     40
2           2    Oyode  M.Tech     80
3           3  Chinelo     MBA     98

### Select first row from file

In [14]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.iloc[0]

# print excel
print (df)

Unnamed: 0       0
name          Abel
degree         MBA
score           90
Name: 0, dtype: object

### Selecting Row with Title Header

In [16]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.head(1)

# print excel
print(df)

   Unnamed: 0  name degree  score
0           0  Abel    MBA     90

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [4]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i,j in df.iterrows():
    print(i,j)
    print()

ModuleNotFoundError: No module named 'pandas'

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [11]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [13]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('record.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Languages Trend Over Time

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [34]:

##PROJECT1
import pandas as pd

data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = data.head(7)

print(df)

import pandas as pd

data2 = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = pd.DataFrame(data2)
 
# select two columns
df[['App Name','App Id','Category']]

import pandas as pd

data3 = pd.read_csv("Top-Apps-in-Google-Play.csv")

df=data3.head(2)

# print excel
print(df)


##PROJECT2

import pandas as pd

data = pd.read_csv("cryptocurrency.csv")

df = data.head(7)

print(df)

import pandas as pd

data = pd.read_csv("cryptocurrency.csv")

df = pd.DataFrame(data)
 
# select two columns
df[['Name','Symbol','Date']]

import pandas as pd

data = pd.read_csv("cryptocurrency.csv")

df=data.head(2)

# print excel
print(df)

##PROJECT3
import pandas as pd

data = pd.read_csv("Popularity of Programming Languages from 2004 to 2024.csv")

df = data.head(7)

print(df)

import pandas as pd

data2 = pd.read_csv("Popularity of Programming Languages from 2004 to 2024.csv")

df = pd.DataFrame(data2)
 
# select two columns
df[['Date','Abap','Ada']]

import pandas as pd

data3 = pd.read_csv("Popularity of Programming Languages from 2004 to 2024.csv")

df=data3.head(2)

# print excel
print(df)

   Unnamed: 0                          App Name  \
0           1              Google Play services
1           2                           YouTube
2           3                            Google
3           4  Google Maps - Navigate & Explore
4           5             Google Text-to-Speech
5           6      Google Chrome: Fast & Secure
6           7                             Gmail

                                    App Id                 Category  \
0                   com.google.android.gms                    Tools
1               com.google.android.youtube  Video Players & Editors
2  com.google.android.googlequicksearchbox                    Tools
3             com.google.android.apps.maps           Travel & Local
4                   com.google.android.tts                    Tools
5                       com.android.chrome            Communication
6                    com.google.android.gm            Communication

  Developer Id                                  Developer Website  \
0   Google LLC  https://developers.google.com/android/google-p...
1   Google LLC  https://support.google.com/youtube/topic/24225...
2   Google LLC               https://www.google.com/search/about/
3   Google LLC                      http://maps.google.com/about/
4   Google LLC                             http://www.google.com/
5   Google LLC               http://www.google.com/chrome/android
6   Google LLC  http://support.google.com/mail/bin/topic.py?hl...

                Developer Email Content Rating  Ad Supported  In App Purchases
0          apps-help@google.com       Everyone         False             False
1  ytandroid-support@google.com           Teen          True             False
2          apps-help@google.com       Everyone          True             False
3          apps-help@google.com       Everyone          True             False
4       tts-feedback@google.com       Everyone         False             False
5          apps-help@google.com       Everyone         False             False
6          apps-help@google.com       Everyone          True             False
   Unnamed: 0              App Name                      App Id  \
0           1  Google Play services      com.google.android.gms
1           2               YouTube  com.google.android.youtube

                  Category Developer Id  \
0                    Tools   Google LLC
1  Video Players & Editors   Google LLC

                                   Developer Website  \
0  https://developers.google.com/android/google-p...
1  https://support.google.com/youtube/topic/24225...

                Developer Email Content Rating  Ad Supported  In App Purchases
0          apps-help@google.com       Everyone         False             False
1  ytandroid-support@google.com           Teen          True             False
   SNo  Name Symbol                 Date       High        Low       Open  \
0    1  Aave   AAVE  2020-10-05 23:59:59  55.112358  49.787900  52.675035
1    2  Aave   AAVE  2020-10-06 23:59:59  53.402270  40.734578  53.291969
2    3  Aave   AAVE  2020-10-07 23:59:59  42.408314  35.970690  42.399947
3    4  Aave   AAVE  2020-10-08 23:59:59  44.902511  36.696057  39.885262
4    5  Aave   AAVE  2020-10-09 23:59:59  47.569533  43.291776  43.764463
5    6  Aave   AAVE  2020-10-10 23:59:59  51.405655  46.703328  46.818146
6    7  Aave   AAVE  2020-10-11 23:59:59  51.453374  48.716040  49.133130

       Close        Volume     Marketcap
0  53.219243  0.000000e+00  8.912813e+07
1  42.401599  5.830915e+05  7.101144e+07
2  40.083976  6.828342e+05  6.713004e+07
3  43.764463  1.658817e+06  2.202651e+08
4  46.817744  8.155377e+05  2.356322e+08
5  49.133718  1.074627e+06  2.472884e+08
6  49.660726  6.921506e+05  2.499408e+08
   SNo  Name Symbol                 Date       High        Low       Open  \
0    1  Aave   AAVE  2020-10-05 23:59:59  55.112358  49.787900  52.675035
1    2  Aave   AAVE  2020-10-06 23:59:59  53.402270  40.734578  53.291969

       Close         Volume     Marketcap
0  53.219243       0.000000  8.912813e+07
1  42.401599  583091.459763  7.101144e+07
             Date  Abap   Ada  C/C++    C#  Cobol  Dart  Delphi/Pascal   Go  \
0       July 2004  0.34  0.36  10.01  4.68   0.42   0.0           2.80  0.0
1     August 2004  0.35  0.36   9.74  4.96   0.46   0.0           2.65  0.0
2  September 2004  0.41  0.41   9.59  5.04   0.51   0.0           2.64  0.0
3    October 2004  0.40  0.38   9.47  5.29   0.53   0.0           2.76  0.0
4   November 2004  0.38  0.38   9.48  5.22   0.55   0.0           2.75  0.0
5   December 2004  0.36  0.37   9.53  5.22   0.53   0.0           2.76  0.0
6    January 2005  0.39  0.38   9.69  5.23   0.56   0.0           2.65  0.0

   Groovy  ...  Powershell  Python     R  Ruby  Rust  Scala  Swift  \
0    0.03  ...        0.16    2.51  0.39  0.33  0.24   0.17    0.0
1    0.07  ...        0.15    2.62  0.40  0.40  0.19   0.17    0.0
2    0.08  ...        0.08    2.71  0.40  0.41  0.17   0.13    0.0
3    0.09  ...        0.12    2.91  0.42  0.46  0.12   0.14    0.0
4    0.07  ...        0.12    2.83  0.41  0.44  0.17   0.15    0.0
5    0.09  ...        0.04    2.70  0.39  0.42  0.19   0.12    0.0
6    0.11  ...        0.04    2.91  0.39  0.47  0.15   0.09    0.0

   TypeScript   VBA  Visual Basic
0         0.0  1.43          8.50
1         0.0  1.45          8.51
2         0.0  1.54          8.38
3         0.0  1.61          8.46
4         0.0  1.50          8.21
5         0.0  1.45          8.06
6         0.0  1.50          7.78

[7 rows x 30 columns]
          Date  Abap   Ada  C/C++    C#  Cobol  Dart  Delphi/Pascal   Go  \
0    July 2004  0.34  0.36  10.01  4.68   0.42   0.0           2.80  0.0
1  August 2004  0.35  0.36   9.74  4.96   0.46   0.0           2.65  0.0

   Groovy  ...  Powershell  Python     R  Ruby  Rust  Scala  Swift  \
0    0.03  ...        0.16    2.51  0.39  0.33  0.24   0.17    0.0
1    0.07  ...        0.15    2.62  0.40  0.40  0.19   0.17    0.0

   TypeScript   VBA  Visual Basic
0         0.0  1.43          8.50
1         0.0  1.45          8.51

[2 rows x 30 columns]

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [8]:
import pandas as pd
 
# intialise data of lists.
data = {'Refreshment beverages':['CADBURY BOURNVITA', 'CADBURY 3in1 HOT CHOCOLATE','MILO','OVALTINE'],
        'Confectionaries':['TOMTOM CLASSIC', 'TOMTOM STRAWBERRY', 'BUTTERMINT','ALLPENLIBE'],
        'Intermediate Cocoa Products':['COCOA POWDER', 'COCOA BUTTER','COCOA LIQUOR', 'COCOA CAKE']}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

        Refreshment beverages    Confectionaries Intermediate Cocoa Products
0           CADBURY BOURNVITA     TOMTOM CLASSIC                COCOA POWDER
1  CADBURY 3in1 HOT CHOCOLATE  TOMTOM STRAWBERRY                COCOA BUTTER
2                        MILO         BUTTERMINT                COCOA LIQUOR
3                    OVALTINE         ALLPENLIBE                  COCOA CAKE